.footer{
    border-top: 1px solid gray;
    color: white;
    margin: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.right-side{
    margin-left: auto;
    width: fit-content;
    padding-top: -25px;
    margin-top: -20px;
}


.logo{
    position: absolute;
    width: 114px;
    left: 15px;
    top: 15px;
    border-radius: 50%;
}